{{#partial "content"}}
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            <h4 class="text-center" id="success">Success <a href="/squads">All squads</a></h4>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}