{{#partial "content"}}
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            <h1 class="text-center" id="success">Success <a href="/">Go Back Home</a></h1>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}